<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>crabiz online</title>
</head>
<body>

    <header>
        <img src="static/logo_crabiz.png" alt="">
    </header>   
    <main>
        <form action="#" method="post">
            nome<br>
            <input type="text" name="nome"><br>
            telefone<br>
            <input type="number" name="telefone"><br>
            senha<br>
            <input type="password" name="senha"><br>

            <button type="submit">Cadastrar</button>    
        </form>
    </main>

    <footer>
    <h2>Já possui um login?</h2> 
        <a href="/logar"><button>Logar</button></a> 
    </footer>

</body>
</html>